body{
    margin: 0;
    padding: 0;
}
._heading_text{
font-size: 30px;
}

.imgsetting{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(169, 172, 214);
    border-radius: 50%;
    padding: 5%;

    
}
.imgsetting:hover{
    height: 110px;
    width: 110px;
    transition: 0.5s;
}


.department_img_div{
    border-radius: 50%;
}
.depart_tag a {
    text-decoration: none;
}


/*----content background csss-----*/

.oncology{
    background-color: #aab2b3;
}

.nuerology{
    background-color: #fddfca;
    

}
.nuerology_img{
    overflow: hidden;
}

.orthopedic{
    background-color:#8f8784;
}
.ortho_img{
    overflow: hidden;
}

.nephrology{
 
    background: linear-gradient(180deg, #ffffff 5%, #9c9ca6 100%);
}
.gastronology{
    background-color:#a7b3b1;
}

.gastro_img{
    overflow: hidden;
}
.cardiology{
    
    background: linear-gradient(180deg, #99d0f1 5%, #f2f9fb 100%);
}
/*--------about us page css */
.banner{
    background-size: cover;
    overflow: hidden;
}
.banner img{
    width: 100%;
}